Create more tests for the date rule using custom date formats

The default date formats are already covered by the tests:

- ATOM: "Y-m-d\TH:i:sP"
- COOKIE: "l, d-M-Y H:i:s T"
- ISO8601: "Y-m-d\TH:i:sO"
- RFC822: "D, d M y H:i:s O"
- RFC850: "l, d-M-y H:i:s T"
- RFC1036: "D, d M y H:i:s O"
- RFC1123: "D, d M Y H:i:s O"
- RFC2822: "D, d M Y H:i:s O"
- RFC3339: "Y-m-d\TH:i:sP"
- RSS: "D, d M Y H:i:s O"
- W3C: "Y-m-d\TH:i:sP"

But what about custom formats?

"Ymd" -> "20150101"
"YmdHis" -> "20150101123000"
...

Let's use some of them to improve the tests.